<?php

namespace {{ namespace }}\Http\Controllers\Api\{{ app_studly }};

use {{ namespace }}\FormFilters\{{ app_studly }}\{{ model }}FormFilter;
use {{ namespace }}\Http\Resources\{{ model }}Collection;
use {{ namespace }}\{{ model }};
use {{ namespace }}\Validators\{{ model }}Validator;
use Illuminate\Http\Request;
use Larakit\Controllers\ApiController;

class {{ model }}Controller extends ApiController {

    public function index(Request $request) {
        $resources = new {{ model }}Collection({{ model }}FormFilter::load());
        return $this->apiResponseSuccess($resources->toArray($request));
    }

    public function options(Request $request) {
        $resources = new \{{ namespace }}\Http\Resources\{{ model }}Collection({{ model }}::orderBy('name')->get());
        return $this->apiResponseSuccess($resources->toArray($request));
    }

    public function config(Request $request) {
        return {{ model }}FormFilter::config();
    }

    public function item({{ model }} $model, Request $request) {
        $resource = new \{{ namespace }}\Http\Resources\{{ model }}($model);
        return $this->apiResponseSuccess($resource->toArray($request));
    }

    public function create(Request $request) {
        $data = $request->all();
        {{ model }}Validator::instance()
            ->validate($data);
        {{ model }}::create($data);
        return $this->apiResponseSuccess(null, 'Запись успешно добавлена');
    }

    public function update({{ model }} $model) {
        $data = \Request::all();
        {{ model }}Validator::instance()
            ->validate($data);
        $model->fill($data);
        $model->save();
        return $this->apiResponseSuccess(null, 'Запись успешно обновлена');
    }

    public function delete({{ model }} $model) {
        $model->delete();
        return $this->apiResponseSuccess(null, 'Запись успешно удалена');
    }

    public function restore({{ model }} $model) {
        $model->restore();
        return $this->apiResponseSuccess(null, 'Запись успешно восстановлена');
    }

}

