<?php
namespace {{ namespace }}\FormFilters\{{ app_studly }};

use {{ namespace }}\{{ model }};
use \Larakit\FormFilter\FilterLike;
use \Larakit\FormFilter\Sorter;
use \Larakit\FormFilter\FormFilter;

class {{ model }}FormFilter extends FormFilter {

    protected $per_page = 20;

    static function classModel() {
        return {{ model }}::class;
    }

    function init() {
        $this->addFilter(FilterLike::factory('name')
            ->label('vendor.crud.fields.name'));
        if (me('is_admin')) {
            $this->addFilterTrashed();
        }
        $this->addSorter(Sorter::factory('name')
            ->label('vendor.crud.fields.name'));
        $this->addSorter(Sorter::factory('created_at')
            ->label('vendor.crud.fields.created_at'));
    }
}
