<?php
return [
    'title'      => '{{ model }}',
    'subtitle'   => 'Управление списком',
    'list'       => [
        'caption'     => 'Управление списком',
        'add'         => 'Добавить',
        'columns'     => [
            'name'        => 'Название',
        ],
    ],
    'formfilter' => [
        'fields' => [
            'name'        => 'Название',
        ],
    ],
    'confirm' =>[
        'delete'=>'Действительно хотите удалить запись?',
        'restore'=>'Действительно хотите восстановить запись?',
    ]
];
