<?php

namespace App\Http\Middleware;

use Closure;

class Role{{ app_studly }}
{
    /**
     * Handle an incoming request.
     *
     * @param  \Illuminate\Http\Request  $request
     * @param  \Closure  $next
     * @return mixed
     */
    public function handle($request, Closure $next)
    {
        if(!me('is_admin')){
            abort(403, 'Нет прав {{ app }}');
        }
        return $next($request);
    }
}
