{% raw %}
<div class="modal-header">
    <h3 class="modal-title" ng-if="0<$ctrl.model.id" ng-bind="'vendor.modal.title.update'|translate"></h3>
    <h3 class="modal-title" ng-if="0==$ctrl.model.id" ng-bind="'vendor.modal.title.create'|translate"></h3>
</div>
<div class="modal-body" id="modal-body">
    <formfield-text error="$ctrl.errors.name" model="$ctrl.model.name">
        {{'admin.apps.{% endraw %}{{ app }}.modal{{ model }}{% raw %}.fields.name.label'|translate}}
    </formfield-text>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-if="0<$ctrl.model.id" ng-click="$ctrl.update()"
            ng-bind="'vendor.modal.btn.update'|translate"></button>
    <button type="submit" class="btn btn-success" ng-if="0==$ctrl.model.id" ng-click="$ctrl.create()"
            ng-bind="'vendor.modal.btn.create'|translate"></button>
    <button type="button" class="btn btn-danger" ng-click="$ctrl.cancel()"
            ng-bind="'vendor.modal.btn.cancel'|translate"></button>
</div>
{% endraw %}
