<?php

namespace {{ namespace }};

use Illuminate\Database\Eloquent\SoftDeletes;
use Illuminate\Database\Eloquent\Model;

class {{ model }} extends Model {
    use SoftDeletes;

    protected $table = '{{ table_name }}';

    /**
     * The attributes that are mass assignable.
     *
     * @var array
     */
    protected $fillable = [
        'name',
    ];

}
