                .when('/{{ app }}/{{ slug }}', {
                    "name": "{{ app }}.{{ model_lower }}",
                    "template": "<page-{{ app }}-{{ model_lower }}><\/page-{{ app }}-{{ model_lower }}>",
                    "title": "admin.apps.{{ app }}.page{{ app_studly }}{{ model }}.title",
                    "subtitle": "vendor.crud.manage_list",
                    "icon": "fa fa-list"
                })
