<?php
if (Gate::allows('manage', \{{ namespace }}\{{ model }}::class)) {
    $title = 'admin.apps.{{ app }}.page{{ model }}.title';
    $icon  = 'fa fa-list';
    $url   = '/{{ app }}/users';
    $r     = \Larakit\LkNgSidebar::section('{{ app }}', 'admin.apps.{{ app }}.sidebar.{{ table_name }}')
                                 ->item('{{ app }}-users', $title, $icon, $url);
    $r->addLabel('{{ app }}-users', \{{ namespace }}\{{ model }}::count(), 'default');
}
