(function () {

    angular
        .module('larakit')
        .component('page{{ app_studly }}{{ model_first_upper }}', {
            templateUrl: 'component.html',
            controller: Controller
        });

    Controller.$inject = ['BreadCrumbs', 'LkList', '$filter', 'LkHttp', '$timeout', 'LkEvent', 'LkTranslateOriginal','$translate'];

    function Controller (BreadCrumbs, LkList, $filter, LkHttp, $timeout, LkEvent, LkTranslateOriginal, $translate) {
        var $ctrl = this;
        // Хлебные крошки
        BreadCrumbs.clear();
        BreadCrumbs.add('{{ app }}');
        BreadCrumbs.add('{{ app }}.{{ model_lower }}');
        $ctrl.isTranslateOriginal = LkTranslateOriginal.get;
        //получаем настройки списка
        LkList.config($ctrl, '/api/{{ slug }}/config');
        $ctrl.load = function (is_clear_filters, page) {
            LkList.actionLoad($ctrl, '/api/{{ slug }}', is_clear_filters, page);
        };
        $ctrl.clearFilters = function () {
            $ctrl.params.filters = {};
        };
        $ctrl.actionRemove = function (id) {
            if (confirm($filter('translate')('admin.apps.{{ app }}.page{{ app_studly }}{{ model }}.confirm.delete'))) {
                LkHttp.post('/api/{{ slug }}/' + id + '/delete')
                    .then(function (response) {
                        if ('success' == response.result) {
                            $ctrl.load();
                        }
                    });
            }
        };

        $ctrl.actionRestore = function (id) {
            if (confirm($filter('translate')('admin.apps.{{ app }}.page{{ app_studly }}{{ model }}.confirm.restore'))) {
                LkHttp.post('/api/{{ slug }}/' + id + '/restore')
                    .then(function (response) {
                        $ctrl.load();
                    });
            }
        };
        $ctrl.actionEdit = function (model) {
            LkList.actionEdit(model, 'modal{{ app_studly }}{{ model }}', function () {
                $ctrl.load();
            }, 'md', true);
        };
    }
})();
