{% raw %}<rtdl-header></rtdl-header>
<rtdl-sidebar-left></rtdl-sidebar-left>
<rtdl-sidebar-right></rtdl-sidebar-right>
<rtdl-content-wrapper>
    <div class="row">
        <div class="col-lg-9">
            <rtdl-list-filter-labels filters="$ctrl.config.filters" load="$ctrl.load" params="$ctrl.params"></rtdl-list-filter-labels>
            <rtdl-list-sorter sorters="$ctrl.config.sorters" load="$ctrl.load" params="$ctrl.params"></rtdl-list-sorter>
            <rtdl-list-pagination data="$ctrl.data" load="$ctrl.load" params="$ctrl.params" ng-if="$ctrl.data.data.length>0"></rtdl-list-pagination>
            <div class="section">
                <div class="section-header">
                    <h5 class="inline-block">{{'vendor.crud.manage_list'|translate}}</h5>
                    <a ng-click="$ctrl.actionEdit({id:0})" class="btn btn-success btn-bordered1 btn-sm pull-right"><i class="fa fa-plus"></i>
                        {{'vendor.crud.actions.create'|translate}}
                    </a>
                </div>
                <div class="section-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th width="1%">{{'vendor.crud.fields.id'|translate}}</th>{% endraw %}
                                {% if thumb %}
                                {% raw %}
                                    <th width="5%">{{'vendor.crud.fields.thumb'|translate}}</th>
                                {% endraw %}
                                {% endif %}
                                {% raw %}<th>{{'admin.apps.{% endraw %}{{ app }}.page{{ app_studly }}{{ model }}{% raw %}.fields.name'|translate}}</th>
                                <th width="5%">{{'vendor.crud.fields.manage'|translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="model in $ctrl.data.data" ng-class="{'softdeletes':model.deleted_at}">
                                <td>{{model.id}}</td>
                                {% endraw %}
                                {% if thumb %}<td>
                                    <rtdl-thumb-step1 model="model"></rtdl-thumb-step1>
                                </td>{% endif %}
                                {% raw %}
                                <td>
                                    {{model.name}}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <span class="btn btn-primary btn-xs" title="{{'vendor.crud.actions.edit'|translate}}" ng-click="$ctrl.actionEdit(model)"
                                              ng-if="!model.deleted_at">
                                            <i class="fa fa-pencil"></i>
                                        </span>
                                        <span class="btn btn-danger btn-xs" title="{{'vendor.crud.actions.delete'|translate}}" ng-click="$ctrl.actionRemove(model.id)"
                                              ng-if="!model.deleted_at">
                                            <i class="fa fa-times"></i>
                                        </span>
                                        <span class="btn btn-success btn-xs" title="{{'vendor.crud.actions.restore'|translate}}"
                                              ng-click="$ctrl.actionRestore(model.id)" ng-if="model.deleted_at">
                                            <i class="fa fa-leaf"></i>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <rtdl-list-pagination data="$ctrl.data" load="$ctrl.load" params="$ctrl.params" ng-if="$ctrl.data.data.length>0"></rtdl-list-pagination>
        </div>
        <div class="col-lg-3">
            <rtdl-list-filter params="$ctrl.params" load="$ctrl.load" filters="$ctrl.config.filters"></rtdl-list-filter>
        </div>
    </div>
</rtdl-content-wrapper>

<rtdl-footer></rtdl-footer>
{% endraw %}
