<?php

namespace {{ namespace }}\Policies;

use App\User;
use Illuminate\Auth\Access\HandlesAuthorization;

class {{ model }}Policy {
    use HandlesAuthorization;

    public function index(User $me) {
        return true;
    }

    public function manage(User $me) {
        return $me->is_admin;
    }

    public function create(User $me) {
        return $this->manage($me);
    }

    public function item(User $me, $model = null) {
        return true;
    }

    public function update(User $me, $model = null) {
        return $this->manage($me);
    }

    public function delete(User $me, $model = null) {
        //TODO: проверку на наличие проектов в этой стадии
        return $this->manage($me);
    }

    public function restore(User $me, $model = null){
        return $this->manage($me) && $model->deleted_at && $model->adv_type;
    }
}
