<?php

namespace {{ namespace }}\Http\Resources;

use \Larakit\Resource\JsonResource;

class {{ model }} extends JsonResource {

    /**
     * Transform the resource into an array.
     *
     * @param  \Illuminate\Http\Request $request
     *
     * @return array
     */
    public function _toArray() {
        return [
            'id'   => $this->id,
            'name' => $this->name,
        ];
    }

    function toString() {
        return $this->name;
    }
}
