<?php
$report_paths = [
    '/{{ app }}{path?}',
];

foreach ($report_paths as $path) {
    Route::get($path, function (\Illuminate\Http\Request $request) {
        return view('ng', ['app' => '{{ app }}']);
    })
         ->middleware('auth', 'role_{{ app }}');
}
