<?php
$controller = 'Api\{{ app_studly }}\{{ model }}Controller';
\Larakit\CrudRoute::factory({{ namespace }}\{{ model }}::class, $controller)
    ->index()
    ->options()
    ->config()
    ->create()
    ->item()
    ->itemUpdate()
    ->itemDelete()
    ->itemRestore()
    ->thumbs([
        'base' => \{{ namespace }}\Thumbs\{{ model }}Thumb::class,
    ]);
