<?php
namespace {{ namespace }}\Thumbs;

use Larakit\Thumb\Thumb;
use Larakit\Thumb\ThumbSize;

class {{ model }}Thumb extends Thumb {
    /**
     * Расширение файла
     *
     * @var string
     */
    //protected $ext = 'png';

    static function getName() {
        return __('thumbs.{{ model }}.name');
    }

    function getPrefix() {
        return '{{ slug }}';
    }

    function getSizesList() {
        return [
            'list'   => ThumbSize::factory(__('thumbs.{{ model }}.sizes.list'))
                    ->setH(200)
                    ->setW(200)
                    ->setDefault('https://via.placeholder.com/200x200')
                    ->filterAdd(Thumb::FILTER_CROP_BOX_IN_IMG),
            'detail' => ThumbSize::factory(__('thumbs.{{ model }}.sizes.detail'))
                    ->setH(800)
                    ->setW(800)
                    ->setDefault('https://via.placeholder.com/800x800')
                    ->filterAdd(Thumb::FILTER_CROP_BOX_IN_IMG),
        ];
}
}
