<?php

namespace {{ namespace }}\Validators;

use Larakit\Validator\ValidateBuilder;

class {{ model }}Validator extends ValidateBuilder {

    function build() {
        $model = \Request::route('{{ model }}');
        $this->to('name')
            ->ruleUnique('{{ table_name }}', 'name', $model ? $model->id : 0, __('vendor.validation.unique'))
            ->ruleRequired(__('vendor.validation.required'));
}
}
