const path = require('path');
require('laravel-mix-merge-manifest');
const mix = require('laravel-mix');
const MiniCssExtractPlugin = require('mini-css-extract-plugin');

mix
    .webpackConfig({
        devtool: 'eval inline-source-map',
        module: {
            rules: [
                {
                    test: /\.scss$/,
                    use: ['import-glob-loader'],
                },
                {
                    test: /font\.js$/,
                    use: [
                        MiniCssExtractPlugin.loader,
                        'css-loader',
                        'webfonts-loader',
                    ],
                },
            ],
        },
        plugins: [
            new MiniCssExtractPlugin({}),
        ]
    })
    .version()
    .sourceMaps()
    .js('resources/vue/{{ name }}/{{ name }}.js', 'public/!/vue')
    .sass('resources/vue/{{ name }}/{{ name }}.scss', 'public/!/vue')
    .options({
        extractVueStyles: '[name]-vue.css',
    })
    .mergeManifest();
;
