<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<script src="//ulogin.ru/js/ulogin.js"></script>
<div style="width: 100%; margin:auto;height: 100vh; padding-top:300px; text-align: center">
    <h1>{{ config('larakit.drivers.ulogin.title') }}</h1>
    <br>
    <div id="uLogin"
         data-ulogin="display={{ config('larakit.drivers.ulogin.display') }};
         theme=classic;
         fields={{ config('larakit.drivers.ulogin.fields')|join(',') }};
         providers={{ config('larakit.drivers.ulogin.providers')|join(',') }};
         hidden={{ config('larakit.drivers.ulogin.hidden') }};
         redirect_uri={{ (route('login')~'?_token='~csrf_token())|url_encode }};
         mobilebuttons=0;"></div>
</div>');

</body>
</html>