<rtdl-header right-icon="'fa-filter'"></rtdl-header>
<rtdl-sidebar-left></rtdl-sidebar-left>
<rtdl-content-wrapper>
    <rtdl-list-labels filters="$ctrl.config.filters" load="$ctrl.load" params="$ctrl.params"></rtdl-list-labels>
    <rtdl-list-sorter sorters="$ctrl.config.sorters" load="$ctrl.load" params="$ctrl.params"></rtdl-list-sorter>
    <rtdl-list-pagination data="$ctrl.data" load="$ctrl.load" params="$ctrl.params" ng-if="$ctrl.data.data.length>0"></rtdl-list-pagination>
    <div class="section">
        <div class="section-header text-right">
            <a ng-click="$ctrl.actionEdit({id:0})" class="btn btn-success btn-bordered1 btn-sm "><i class="fa fa-plus"></i>
                {{'admin.pageAdminUser.add'|translate}}
            </a>
        </div>

        <div class="section-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="1%">{{'models.User.label.id'|translate}}</th>
                        <th>{{'models.User.label.name'|translate}}</th>
                        <th>{{'models.User.label.email'|translate}}</th>
                        <th>{{'models.User.label.ulogin_network'|translate}}</th>
                        <th>{{'models.User.label.is_admin'|translate}}</th>
                        <th width="5%">{{'vendor.crud.fields.manage'|translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="model in $ctrl.data.data" ng-class="{'softdeletes':model.deleted_at}">
                        <td>{{model.id}}</td>
                        <td>
                            {{model.name}}
                        </td>
                        <td>
                            {{model.email}}
                        </td>
                        <td>
                            {{model.ulogin_network}}
                        </td>
                        <td>
                            <span class="pointer label"
                                  ng-class="{'label-success':model.is_admin, 'label-transparent text-strike':!model.is_admin}"
                                  ng-click="$ctrl.actionToggle(model.id, 'is-admin')">{{'models.User.label.is_admin'|translate}}
                            </span>
                        </td>
                        <td>
                            <div class="btn-group" ng-if="!model.deleted_at">
                                        <span class="btn btn-primary btn-xs"
                                              title="{{'vendor.crud.actions.edit'|translate}}"
                                              ng-click="$ctrl.actionEdit(model)">
                                            <i class="fa fa-pencil"></i>
                                        </span>
                                <span class="btn btn-danger btn-xs"
                                      title="{{'vendor.crud.actions.delete'|translate}}"
                                      ng-click="$ctrl.actionRemove(model.id)">
                                            <i class="fa fa-times"></i>
                                        </span>
                            </div>
                            <span class="btn btn-success btn-xs"
                                  title="{{'vendor.crud.actions.restore'|translate}}"
                                  ng-click="$ctrl.actionRestore(model.id)" ng-if="model.deleted_at">
                                        <i class="fa fa-leaf"></i>
                                    </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <rtdl-list-pagination data="$ctrl.data" load="$ctrl.load" params="$ctrl.params" ng-if="$ctrl.data.data.length>0"></rtdl-list-pagination>
</rtdl-content-wrapper>
<rtdl-sidebar-right>
    <rtdl-list-filter params="$ctrl.params" load="$ctrl.load" filters="$ctrl.config.filters"></rtdl-list-filter>
</rtdl-sidebar-right>
<rtdl-footer></rtdl-footer>
