html,
body,
body.fresh-apple-light-theme .section,
body.fresh-apple-light-theme .sidebar.sidebar-v1 .sidebar-menu li a {
    /*font-family: Google Sans, Sans-Serif !important;*/
}

.panel-primary > .panel-heading a {
    color: #ffffff;
}

