<div class="modal-header">
    <h3 class="modal-title" ng-if="0<$ctrl.model.id" ng-bind="'vendor.modal.title.update'|translate"></h3>
    <h3 class="modal-title" ng-if="0==$ctrl.model.id" ng-bind="'vendor.modal.title.create'|translate"></h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <formfield-text error="$ctrl.errors.name" model="$ctrl.model.name">
                {{'models.User.label.name'|translate}}
            </formfield-text>
            <formfield-text error="$ctrl.errors.email" model="$ctrl.model.email">
                {{'models.User.label.email'|translate}}
            </formfield-text>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-if="0<$ctrl.model.id" ng-click="$ctrl.update()" ng-bind="'vendor.modal.btn.update'|translate"></button>
    <button type="submit" class="btn btn-success" ng-if="0==$ctrl.model.id" ng-click="$ctrl.create()" ng-bind="'vendor.modal.btn.create'|translate"></button>
    <button type="button" class="btn btn-danger" ng-click="$ctrl.cancel()" ng-bind="'vendor.modal.btn.cancel'|translate"></button>
</div>